@font-face {
     font-family: 'Vilaka';
     src: url('./../public/fonts/vilaka-modern-serif-font-demo/Vilaka\ Modern\ Serif.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
   }
   