@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Vilaka Font Demo Version';
    src: url('/src/assets/fonts/VilakaFontDemoVersion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }